@charset "utf-8";
/* CSS Document */

html{
  height: 100%;
  color: #FFFFFF;
}
body {
  height: 100%;
  background: linear-gradient(#013C54,#042133);
}

/* ヘッダー固定 */
div#header-fixed {
  position: fixed;            /* ヘッダーの固定 */
  height: 100px;              /* 縦幅 */
  width: 100%;                /* 横幅　*/
  z-index: 100;
}
/* ヘッダー色 */
div#header-bk {
	background-color:#042133;  /* 背景色 */
	padding: 15px 10px;         /* 上、下 */
  height: 20px;
	width: 100%;                /* 横幅 */
}
/* ヘッダーロゴ */
.header-logo {
  margin-left: 80px;              /* 左揃え */
  float: left;
  width: 50px;                /* 横幅 */
}
/* ヘッダー検索 */
.header-search-input {
  margin-right: 0px;              /* 右揃え */
  float: right;
  width: 30%;                /* 横幅 */
}
/* ヘッダーアカウント */
.header-account {
  margin-right: 80px;              /* 右揃え */
  float: right;
  width: 120px;                /* 横幅 */
}
.pagelink {
  display: block;
  color: #FF0000;
  transition: all 0.5s;
  z-index: 5;
}
.pagelink:hover {
  color: #FF0000;
}
.button00 {
  position: fixed;
  top: 50%;
  left: 50px;
  height: 150px;              /* 縦幅 */
  width: 20px;                /* 横幅　*/
  z-index: 5;
}
.button01 {
  position: fixed;
  top: 50%;
  right: 50px;
  height: 150px;              /* 縦幅 */
  width: 20px;                /* 横幅　*/
  z-index: 5;
}
.button02 {
  position: fixed;
  bottom: 5%;
  right: 50%;
  transform: translateX(75px);
  height: 20px;              /* 縦幅 */
  width: 150px;                /* 横幅　*/
  z-index: 5;
}
